* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero-wrap, .background {
  height: 100%;
  min-height: 100%;
}

html>body .hero-wrap, html>body .background {
  height: auto;
}

.background {
  background: url("../img/hero-bg.png") center center no-repeat fixed #000;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  img {
    width: 150px;
    height: auto;
  }
}

.footer {
  display: flex;
  flex-direction: row;
}
